<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="taskManagement :: meta_header('TOP',~{::link},~{::script})">   
 	<!-- CSS/JS -->
    <link th:href="@{/css/mainPage.css}" rel="stylesheet">
    <script th:src="@{/js/taskManagement.js}"></script>
</head>
<body>
    <main>
		<div th:replace="taskManagement :: header"></div>
		<section id="mainLayout">
        	<p><span th:text="${title}">タスク管理ツール </span><i class="fa-solid fa-list-check"></i></p>
        </section>
    </main>
</body>
</html>

